.next-arrow,
.prev-arrow {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	width: 4rem;
	height: 4rem;
	transform: translate(-50%, -50%);
	background-color: rgba($color: #f7f7f7, $alpha: 0.8);
	cursor: pointer;
	z-index: 999;
}

.next-arrow {
margin-right: -3.5rem;
    right: 0;
}


.chevron-left,
.chevron-right {
	color: #b4b4b4;
	font-size: 3rem;
}


@media (min-width: 768px) {
    .next-arrow {
        margin-right: -2.5rem;
        }
}

@media (min-width: 992px) {

    .products-carousel {
        transition: visibility 0.3s;
    }

    .next-arrow,
.prev-arrow {
    visibility: hidden;
}

.products-carousel:hover .next-arrow, .products-carousel:hover
.prev-arrow{
	visibility: visible;
}
}