.carousel {
    transition: visibility 0.3s;
	background-color: #fff;
	margin-bottom: 3.2rem;
}

ul {
    background-color: #fff;
}

.next-arrow,
.prev-arrow {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	background-color: rgba($color: #f7f7f7, $alpha: 0.9);
	visibility: hidden;
	cursor: pointer;
	z-index: 999;
}

.next-arrow {
	right: 0;
}

.carousel:hover .next-arrow, .carousel:hover
.prev-arrow{
	visibility: visible;
}

.chevron-left,
.chevron-right {
	color: #b4b4b4;
	font-size: 3rem;
}
