@import '../../variables';

.category, .results {

max-width: 1200px;
margin: 0 auto;

&__header {
    padding: 1.6rem;
}

a {
    text-decoration: none;
}

&__li {
    list-style: none;
}
    &__h1::first-letter {
text-transform: uppercase;
    }

    &__h1 {
        font-size: 2rem;
        font-weight: 400;
    color: $main-dark-font;
    }

    &__products {
        padding: 16px;
        background-color: #fff;
    }

    &__product {
        display: flex;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    &__product-data {
        padding-left: 8px;
    }


    &__product-img img {
        width: 112px;
        height: 112px;
    }

    &__product-title {
        padding-bottom: 1px;
        font-size: 1.4rem;
color: $main-dark-font;
transition: color .3s;
    }
    &__product-title:hover {
        color: rgb(12, 168, 168)
    }

    &__product-price {
        font-family: 'Roboto', sans-serif;
        font-size: 2.7rem;
        font-weight: 500;
        color: #3a4e58;
    }
    &__product-price span {
        font-size: 1.9rem;
    }

    &__not-found {
        padding: 16px;
        margin-bottom: 2rem;
        background-color: #fff;
    }

    &__not-found-h3 {
        margin: 0.8rem;
        font-size: 1.9rem;
        font-weight: 500;
        color: $main-dark-font;
    }

    &__not-found-text-bold {
        margin-bottom: 0.8rem;
        margin-left: 0.8rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: $main-dark-font;
    }


    &__not-found-ul {
        padding-left: 20px;
    }
    &__not-found-li {
        margin: 0.8rem;
        font-size: 1.4rem;
        color: $main-dark-font;
    }

}


@media (min-width: 768px) {
    .category, .results {
        &__h1 {
            font-size: 2.4rem;
        }

        &__product-price {
            font-size: 3rem;
        }

        &__not-found-h3 {
            margin-bottom: 2.4rem;
            font-size: 2.1rem;
        }
    }
}
@media (min-width: 1024px) {
    .category, .results {

&__header {
    padding: 2.4rem;
}

        &__h1 {
            font-size: 3.2rem;
        }
    }
}