@import '../../variables';

.product-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.product {

	&__header,
	&__description {
		margin-bottom: 2rem;
		background-color: #fff;
	}

	&__header {
		padding: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__h1 {
		padding-bottom: 25px;
		font-size: 2.1rem;
		font-family: 'Roboto', sans-serif;
	}
	&__img {
		width: 90%;
	}

	&__description {
		padding: 16px;
	}

	&__text {
		margin-bottom: 16px;
		font-size: 21px;
		font-weight: 500;
	}

	&__h2 {
		margin-bottom: 1.5rem;
		font-size: 1.8rem;
	}

	&__description-text {
		font-size: 1.6rem;
	}
}

.buy {
	padding: 18px;
	background-color: #fff;

	button[disabled] {
		filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(84%) contrast(83%);
	}

	&__h2 {
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}

	&__price {
		margin-right: 1rem;
		font-size: 2.7rem;
		font-weight: 500;
		color: $price-color;
	}

	&__btns-box {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
	}

	&__btns-box button {
		margin-bottom: 1rem;
	}
	&__quantity-text, &__quantity-number {

		font-size: 1.3rem;
		color: #656565;
	}

	&__quantity-text {
		margin-bottom: 0.2rem;	
	}

	&__quantity-number {
		margin-left: 1rem;
	}

	&__quantity-input-box {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
	}
	&__hr {
		margin-bottom: 2rem;
		border: 1px solid #e7e7e7;
	}
}


@media (min-width: 768px) {
	.product {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 20px;

		&__header, &__description  {
			padding: 24px;
		}
	}

	.buy {
		padding: 24px;
	height: 360px;
	}

}