@import '../../../variables';

.search {
display: flex;
justify-content: center;
margin-top: 1rem;

&__input {
    width: 80%;
    height: 4rem;
    padding-left: 1rem;
 border-radius: 2px;
 border: $gray-border;
 border-right-style: none ;
}

&__select {
    height: 4rem;
}
}


@media (min-width: 768px) {
    .search {

        &__select {
            padding-left: 2rem;
            width: 250px;
            appearance: none;
            background-image: url('../../img/chevron-down.svg');
            background-repeat: no-repeat;
            background-position: 95% center;
            border: $gray-border;
            border-right-style: none;
            color: $main-dark-font;
            cursor: pointer;
        }

    }
}

@media (min-width: 992px) {
    .search {
        &__input {
           width: 100%;
        }

        &__select {
            width: 350px;
        }
    }
}