.btn {
    height: 4rem;
    padding: 0 1.6rem;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 90, 0);
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    transition: background-color .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(253, 105, 26);  
}